@{
    ViewData["Title"] = "Edit";
}
@model Student
<h1> Edit </h1>
<form method="POST" style="display: flex; gap:20px; flex-direction: column;" asp-action="Edit" asp-controller="Student">
    <div class="form-group">
        <label asp-for="Name">Student Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter student name" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    @* <div class="form-group">
        <label asp-for="Score">Score</label>
        <input type="text" class="form-control" asp-for="Score" placeholder="Enter score" size="3" required>
        <span asp-validation-for="Score" class="text-danger"></span>
    </div> *@
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
