@model GradeView.Models.Student;
@{
    ViewData["Title"] = "Student score";
}
<h1> Student score</h1>
<p> student ID: @Model.Id </p>
<p> student Name: @Model.Name </p>
<p> student Score: @Model.Score </p>
